@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	margin: 0;
	text-align: center;
}

.bg1 {
	background: linear-gradient(
		53deg,
		rgba(8, 0, 0, 1) 0%,
		rgb(89, 93, 94) 100%
	);
}

.bg2 {
	background-color: #282020;
}

.bg3 {
	background: #0101016e;
	border-radius: 30px;
	padding: 20px 0;
}

.bg4 {
	background: rgba(114, 114, 114, 0.1);
}

.bg5 {
	background: rgba(147, 146, 146, 0.216);
}

body {
	min-height: 100vh;
}

.item-box {
	background-color: rgb(226, 224, 224);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(252, 252, 252, 0.508);
	padding: 5% 40px;
}

.textshadow {
	text-shadow: 5px 0px 10px #050505, -5px 0 10px #050505, 0px 5px 10px #050505,
		0px -5px 10px #050505;
}

.textshadow2 {
	text-shadow: 1px 0px 2px #585258e2, -1px 0px 2px #585258e2,
		0px 1px 2px #585258e2, 0px -1px 2px #585258e2, 1px 0px 25px #eff89ae2,
		-1px 0px 25px #eff89ae2, 0px 1px 25px #eff89ae2, 0px -1px 25px #eff89ae2;
}

.textshadow3 {
	text-shadow: 1px 0px 5px #75737597, -1px 0px 5px #75737597,
		0px 1px 5px #131213e2, 0px -1px 2px #131213e2;
}

.img-zoom {
	background: rgba(8, 0, 0, 0.8);
}
.work-sans {
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: italic;
}

@layer base {
	html {
		@apply scroll-pt-8;
	}

	input,
	textarea {
		@apply pt-2 pb-2 pl-5 pr-5 rounded-lg border-2 border-['#fff'] bg-transparent text-w w-96 text-sm;
	}
}

@layer utilities {
	.item-box2 {
		@apply border-2 border-dashed rounded-3xl p-5 pt-10 pb-10 mt-10;
	}
	.container {
		@apply p-20 max-lg:pl-5 max-lg:pr-5  w-full flex mx-auto my-auto;
	}

	.hover_scale {
		@apply hover:transition hover:duration-100 hover:ease-in-out hover:transform hover:scale-[1.3];
	}

	.hover_scale2 {
		@apply hover:transition hover:duration-100 hover:ease-in-out hover:transform hover:scale-[1.1];
	}

	.hover_underline {
		@apply hover:after:absolute lg:hover:after:content-[''] hover:after:left-0 hover:after:bottom-0 hover:after:w-full hover:after:h-[2px] hover:after:animate-fadein;
	}

	h4 {
		@apply text-2xl font-semibold font-mono text-w textshadow2;
	}

	h3 {
		@apply text-2xl font-bold font-serif max-lg:text-xl;
	}

	.introbox {
		@apply item-box text-left text-lg flex flex-col gap-10 max-lg:text-lg;
	}
	.intro-text {
		@apply animate-movel2;
	}
	.btn1 {
		@apply rounded-2xl p-4 w-36 max-lg:p-2 text-[16px] max-lg:text-sm font-semibold shadow-xl font-sans cursor-pointer border-dashed border-2 border-[#6b6969] flex justify-center items-center gap-2;
	}

	.arrow {
		@apply max-lg:text-4xl text-5xl text-w cursor-pointer hover_scale;
	}
}
